.message {
  width: 100%;
  overflow: hidden;
  padding-bottom: 2vh;
}

.title {
  width: 100%;
  float: left;
}

.select-countryCode {
  width: 30%; 
  padding-right: 10px;
}

.input-phone {
  width: 70%;
  top: 1px;
}